body{
    font-family: Helvetica,Pingfang SC,Microsoft YaHei,STHeiti,Verdana,Arial,Tahoma,sans-serif;
  }

.content{
    margin: 0 auto;
    width: 80%;
    min-width: 1200px;
    height: 100%;
    color: #fff;
}
input{
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}